:root{
   --minsize: 120px; 
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--minsize), 1fr));
    gap: 0.5em;
;}
.gallery img {height: calc(var(--minsize) * 0.6)}
.gallery-item img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    filter: grayscale(100%) opacity(80%);
}
.gallery-item img:hover {
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    transition: all 2s;
    filter: grayscale(10%) opacity(100%);
}